<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <fieldset>
        <legend>Login</legend>
        <div class="form-field">
            <label>Username:</label>
            <input name="username" formControlName="username"/>
        </div>
        <div class="form-field">
            <label>Password:</label>
            <input name="password" formControlName="password" type="password"/>
        </div>
        <div class="form-buttons">
            <button class="button button-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
        </div>
    </fieldset>
</form>